<article class="essay-body" data-article-body>
  Hi! I wrote this to tell people at Purdue CS (and to a lesser extent, people at Purdue) about <em>all the things that they can
  do at Purdue that they don't seem to know about!</em> Quick notes before we start: 
  <ul>
    <li>
    This document was originally published on various Discord servers and
    <a class="hero__author" href="https://www.reddit.com/r/Purdue/comments/1kb4byi/optimizing_purdue_cs_a_6000_word_guide_on_things/" target="_blank" rel="noreferrer" aria-label="View the Reddit post for Optimizing Purdue CS">
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M14.47 15.13a3.28 3.28 0 0 1-4.94 0 .5.5 0 1 0-.76.66 4.28 4.28 0 0 0 6.46 0 .5.5 0 1 0-.76-.66Zm-5.3-2.48a1 1 0 1 0-1-1 1 1 0 0 0 1 1Zm5.66-2a1 1 0 1 0 1 1 1 1 0 0 0-1-1ZM22 12a2.1 2.1 0 0 0-3.57-1.5 8.2 8.2 0 0 0-4.92-1.62h-.13l.84-3.95 2.74.58a1.58 1.58 0 1 0 .16-.77l-3.25-.69a.5.5 0 0 0-.59.39l-.95 4.45a8.33 8.33 0 0 0-4.75 1.65A2.1 2.1 0 1 0 5.7 13.9c0 3.02 3 5.48 6.7 5.48 3.7 0 6.7-2.46 6.7-5.48a2.09 2.09 0 0 0-.16-.8A2.1 2.1 0 0 0 22 12Z"></path>
      </svg>
      <span>Reddit</span>
    </a>
    in ~April 2025. It has since been updated and refreshed
    in March 2026.
    </li>
    <li>
      This document uses special characters like the em-dash (—). These characters were lovingly hand-inserted and
      not a result of AI-generated text.
    </li>
    <li>
      A reader wrote
      <a href="https://github.com/Bearly-Codes/IdiotsGuidetoPurdue">a half-rebuttal/half-complementary document</a>
      that's double(!) the length of this one. I recommend checking it out <em>after</em> reading this document.
    </li>
  </ul>

  <h2 id="why-am-i-writing-this">Why am I writing this?</h2>
  <p>I see a lot of fellow undergraduates make the following mistakes:</p>
  <ul>
    <li>Take classes they don't enjoy and therefore don't excel at.</li>
    <li>Take easier or less useful classes.</li>
    <li>Miss out on opportunities to get ahead like test-outs, independent project work, research, clubs, internships, etc.</li>
    <li>Simply "exist" in university for four years and come out having not learned much.</li>
  </ul>

  <h2 id="why-should-you-read-this">Why should you read this?</h2>
  <p>
    I started attending Purdue as a Computer Science major and Honors College student in Fall 2023. I'm on track
    to graduate within 5 semesters (2½ years) with a <a href="#semester-4-spring-2025-22-credit-hours"><s>4.0</s></a>
    3.95 GPA so far, and am generally told by people that
    <a href="https://github.com/kartva/">I have done things they consider impressive while at Purdue</a>.
  </p>
  <p>
    This document is a distillation of my experiences which I believe will be helpful for people who are ambitious
    about what they want to do with their time at Purdue.
  </p>

  <h2 id="who-is-this-for">Who is this for?</h2>
  <p>
    Incoming and current undergraduates majoring in CS at Purdue
    <em>who want to strengthen / maximize their academic or practical experience</em>.
  </p>
  <p>
    The earlier you are in your degree, the likelier you are to derive some benefit from this. There is some
    specific advice for international students as well, but I expect the majority of this document to be useful to
    everyone.
  </p>

  <h2 id="a-note-before-you-read">A Note Before You Read</h2>
  <p>
    Do not feel pressured to follow all the advice listed on this guide. While some parts are low-hanging fruit,
    others may require extraordinary effort to achieve, which may not be possible for everyone due to unique life
    circumstances. There are many roads to "success" (whatever that is), and this is perhaps one of them.
  </p>
  <p>You are your own person with your own aspirations and goals. Read this, but use only what you think is useful to your journey.</p>
  <p>
    <strong>This guide assumes you're self-motivated and eager to study CS.</strong>
    <strong>Many decisions recommended below</strong>, like testing out of beginner courses and taking graduate courses,
    <strong>may cause misery if that is not the case</strong>.
  </p>
  <p>
    See the note at the end for more thoughts on this topic and whether optimizing your academic experience is even
    something you want or not.
  </p>

  <hr />

  <p>
    <em>
      This guide was written based on the 2024-2025
      <a href="https://catalog.purdue.edu/preview_program.php?catoid=17&amp;poid=31075&amp;hl=%22Computer+Science%22&amp;returnto=search">Computer Science, BS degree</a>
      plan and with current information as of <strong>Feb 2026</strong>. Future updates to this guide will change this
      date.
    </em>
  </p>

  <h2 id="test-outs-and-credits">Test-outs and Credits</h2>
  <p>
    Before even coming to Purdue, your advisor will likely schedule a meeting with you to introduce themselves and
    get you registered for your courses.
  </p>
  <p>
    Ideally you've already looked over the degree plan before your meeting because it <em>will</em> be a significant
    portion of your life for the next four years.
  </p>
  <p>Here's the gist of it:</p>
  <ul>
    <li>You need 120 <em>credits</em> to graduate with a bachelors degree.</li>
    <li>There are some required classes that you must take.</li>
    <li>Some requirements that must be fulfilled by taking classes from a large list (gen-eds).</li>
    <li>Take the classes that fulfil the requirements of at least one track (specialization).</li>
  </ul>

  <h3 id="credits-from-high-school">Credits from High School</h3>
  <p>
    <strong>Here's the first bit of useful advice:</strong> If you're a high school student reading this, prioritize
    taking high school exams
    <a href="https://admissions.purdue.edu/transfercredit/index.php">that can transfer to college credits</a>.
    <strong>AP exams</strong> are offered internationally and don't require your school to have partnered with an
    international board like IB or the A-levels.
  </p>
  <p>
    Certain exams like the <strong>CLEP</strong> can be taken <em>while</em> you're at university as well. Further
    notes on test-outs later in this section.
  </p>
  <p>
    If you're strategic about your choices, you can very easily rack up 30-50 credits over two or three years in
    high school. <em>This can directly accelerate your minimum-time-to-graduation from 4 years to 3.5, 3, or even 2.5.</em>
    <small>(I know someone who graduated this semester in 2 years, but that's a topic for a later section)</small>
  </p>
  <p>
    Your advisor will likely recommend you enroll in CS 180 (the first class on the CS Core Curriculum), a math
    class like Calc 1 or 2, two or three classes to satisfy gen-ed, College of Science, or University Core
    Curriculum requirements.
  </p>
  <p><em>Have a look at the "Sample 4-Year Plan" present on the Computer Science Catalog page.</em></p>
  <p>
    <strong>This is your first opportunity to get ahead:</strong> Your advisor will enroll you for 15-16 credits.
    Strongly consider enrolling for 18 (the limit of what you can get without special permission). Your advisor
    will likely tell you that it's not advisable since "Purdue classes can be quite challenging". (They're not wrong!)
  </p>
  <p>
    You can use
    <a href="https://boilerclasses.com/detail/CS18000ProblemSolvingAndObjectOrientedProgramming">BoilerCourses</a>
    or <a href="https://www.boilergrades.com/">BoilerGrades</a> to help you pick out an easy additional class.
  </p>
  <p>
    <em>
      These additional credits in your first (and easiest!) semester will help you in a few semesters when you're
      juggling three graduate classes, club activities, research, internship applications/interviews, living
      off-campus and cooking your own food.
    </em>
    (Additionally, taking 18 credits and obtaining a good GPA is a soft pre-requisite to being approved for more
    than 18 credits in later semesters.)
  </p>
  <p>
    This guide contains advice to do things that require extra effort or stress you out. Believe in yourself, and
    know that the only way you find out what you're capable of is by challenging yourself.
  </p>

  <h3 id="the-cs-180-test-out">The CS 180 Test-out</h3>
  <p>
    <strong>Start preparing for the <a href="https://www.cs.purdue.edu/undergraduate/cs-180-proficiency-exam.html">CS 180 test-out</a>:</strong>
    This is your next opportunity to get ahead. CS 180 is a pre-requisite for other CS courses on the core track,
    and most CS electives require these courses as a pre-requisite. Put another way, <em>CS 180 is the one course
    standing between you and the rest of Purdue CS.</em>
  </p>
  <p>
    Many undergraduates are surprised to hear that I skipped CS 180 by testing out of it — they didn't know it
    existed. Prepare for this exam in the summer you have before coming to Purdue. You <strong>can jump a whole
    semester ahead</strong> in the CS curriculum by skipping this course. That translates to another semester at the
    end of your degree in which you can take advanced coursework, collaborate with professors or do other fun stuff.
  </p>
  <p>
    The CS department recommends you don't do this. <em>I</em> think there's a strong case for doing this if you are
    confident in your skills and don't think you'll benefit much from the course.
  </p>

  <ul>
    <li>
      A reader wrote
      <a href="https://gist.github.com/greatericontop/2c52d0717ed46f9f4465d40abb901ba6">a document with advice for passing the test-out in Fall 2025</a>.
    </li>
  </ul>

  <h3 id="other-test-outs">Other Test-outs</h3>
  <p>
    Have a look at the
    <a href="https://www.purdue.edu/studentsuccess/testing-services/tests/advanced/index.php">Purdue-specific test outs</a>
    page. This doesn't seem to list all of them, since
    <a href="https://cla.purdue.edu/communication/com-114/">the COM 114 test-out</a> isn't listed, so be sure to ask
    your advisor for more.
    <a href="https://www.math.purdue.edu/academic/undergrad/credit/">Purdue Math</a> has test outs for Calc 1, 2, 3,
    and Linear Algebra.
  </p>
  <p>
    There are also
    <a href="https://www.cla.purdue.edu/academic/slc/placement/index.html">test-outs for language courses</a> which
    may help you finish the Language and Culture requirement quicker.
  </p>
  <p><em>Note that you can take most of these test outs at any time while at Purdue, so it's worth checking these out if you have any unfulfilled requirements.</em></p>
  <p>
    These will allow you to free up your time during the semester to spend it doing more productive things and
    accelerate your pathway to graduation.
  </p>
  <p>A common counter-point to testing out in your first semester:</p>
  <blockquote>
    <p>Familiar content will help you accumulate to the college environment. Plus, college calculus is quite different!</p>
  </blockquote>
  <p>
    I've asked people whether Purdue Calc is <em>useful-hard</em>, or <em>useless-hard</em>. That is, does going
    through its rigor help you learn or just cause unnecessary suffering? The answer is unanimously the latter.
    While many introductory courses may indeed be useful for learning the ropes or idiosyncrasies of a particular
    department, you can almost certainly make up for the differences through a few days of self-studying.
    <strong>There are very few cases where re-taking classes you have credit for is a good decision.</strong>
  </p>

  <h2 id="you-and-your-academic-advisor">You and Your Academic Advisor</h2>
  <p>
    You will spend a lot of time interacting with your advisor if you follow the advice in this guide. Here's my
    core observation from interacting with my advisor and hearing from people about their advisors:
  </p>
  <blockquote>
    <p>
      Your advisor, by default, wants you to graduate on-time without risking burnout or a bad GPA. Therefore, by
      default, they attempt to steer your degree towards that objective.
    </p>
  </blockquote>
  <p>
    <strong>Their default policy may be sub-optimal for <em>your</em> growth.</strong> They may discourage you from
    taking advanced coursework or too many credits from the fear of your GPA or graduation plan. <em>Their worries
    are completely valid. Nobody wants you to take too many hard things and burn out.</em> If you're going to
    override your advisor's caution, make sure you trust yourself to self-regulate.
  </p>
  <p>
    I recommend switching your advisor from "default policy" mode as soon as possible. Be upfront about your goals,
    ambitions, and skills with them, and they will help you succeed in the ways you want. If you want to graduate
    early, tell them that. If you have previous CS experience and you believe you will find coursework easy, tell
    them that! If you want to do a PhD and are very motivated about a particular topic, tell them that!
  </p>
  <p><strong>Simply put, the more information an advisor has about you, the better they can help you.</strong></p>
  <p>
    Once they know more about you, they can give you amazing information on all sorts of things like: new
    interesting clubs on campus, tips about good courses and difficult professors, test out programs, programs you
    can obtain travel funding from (like
    <a href="https://www.purdue.edu/science/Current_Students/learning-beyond-the-classroom/index.html">Learning Beyond the Classroom</a>),
    etc. <em>Ask your advisor good questions liberally and you might just receive a lot of good information in return.</em>
  </p>
  <p>A lot of your communication with your advisor will happen over email, which leads to me to the next segment:</p>

  <h2 id="writing-emails-is-a-superpower">Writing Emails is a Superpower</h2>
  <p>A <em>lot</em> of communication in university happens over email. Get used to it.</p>
  <p>
    Asking for an extension on an assignment? Send an email to the teaching assistants or the professor.<br />
    Looking for research opportunities? Send an email.<br />
    Quick question about whether a class will count towards your degree? An email.<br />
    Permission to take a course? Email.<br />
    Collaborating with <a href="https://www.purdue.edu/sao/Fundraising/SOGA%20and%20SFAB.html">SOGA</a> on a club
    event? Emai — you get the idea.
  </p>
  <p>
    I see a few undergraduates seemingly bothered or scared at the idea of having to sit down and compose a
    well-written and concise email. <strong>Emails are your easiest and most convenient tool to solve problems.</strong>
  </p>
  <p>I have ended up with at least two internships offers through cold emails. Emails are not only just an academic tool.</p>

  <h3 id="using-llms-to-write-emails">Using LLMs to write emails</h3>
  <p><em>Don't.</em> People are generally annoyed after reading three paragraphs of generic text. <strong>The prompt you put into the LLM is likely a better email than the output.</strong></p>

  <h3 id="example-email-applying-for-research">Example Email Applying for Research</h3>
  <blockquote>
    <p>Prof. &#123;Professor's Last Name&#125;, I am a &#123;freshman/sophomore/...&#125; in Computer Science interested in the research opportunity posted at &#123;source&#125;.</p>
    <p>I received an A+ in &#123;course related to this field&#125; and created &#123;insert impressive project related to this field&#125;.</p>
    <p>I am on-campus until July 26 if you'd prefer meeting in-person.</p>
    <p>Attached: Resume, Transcript, &#123;impressive project report&#125;</p>
  </blockquote>
  <p><strong>It is concise.</strong> It contains only relevant information. Note the following:</p>
  <ul>
    <li><em>Started with immediate context.</em> This is who I am; this is what I want.</li>
    <li><em>Justification.</em> This is why you should reply to my email.</li>
    <li><em>Call-to-action.</em> This is what I would like you to do.</li>
  </ul>
  <p>I find emails written in this style to be effective and respectful of the recipient's time and emotional energy.</p>

  <h2 id="the-core-cs-curriculum">The Core CS Curriculum</h2>
  <p>
    While at Purdue, you are required to take CS 180, 182, 240, 250, 251 and 252 to graduate. I personally
    recommend dedicating higher than usual effort towards excelling in these courses, as these grades can act as
    signals to professors you want to do research with or companies you want to intern at. (Note however that less
    companies care about GPAs and grades every passing year.)
  </p>
  <p>
    The Core Curriculum exposes you to both theory (182, 251) and applied tracks (240, 250, 252) in Computer
    Science. Your experiences and opinions from these courses will likely influence your future course choices and
    thus your broader career trajectory.
  </p>
  <p><strong>Distinguishing yourself by going above-and-beyond on an assignment in one of these courses is an easy way to create a resume-worthy project.</strong></p>

  <h2 id="taking-exciting-courses">Taking Exciting Courses</h2>
  <p>This topic is the real reason I decided to write this guide. Two facts are simultaneously true:</p>
  <ul>
    <li><strong>There are many interesting and useful courses at Purdue.</strong></li>
    <li><strong>Undergraduates often miss out on them.</strong></li>
  </ul>
  <p>
    <strong>Take advanced electives earlier:</strong> Advanced electives often have long pre-requisite chains - you
    can only take CS 456 (Programming Languages) in the same semester or later as CS 352 (Compilers), which
    requires you to have taken CS 252. <em>However, if you believe you have the pre-requisite knowledge, you can
    <strong>simply email the professor for permission</strong></em>. Mention why you think you're qualified to take
    the course, and a professor will quite likely grant it to you.
  </p>
  <p>
    <strong>Take courses in other departments:</strong> The ECE and Math departments often have coursework that I
    would personally consider to be miles more useful than some CS courses offered by the department. Consider
    minoring in one of these fields for easier access to courses, but <em>you can enroll in these courses even
    without a minor</em> by asking your advisor. (You may have to obtain permission from advisors from the other
    departments as well though, so be ready for long email chains.)
  </p>
  <p>
    <strong>Take graduate courses:</strong> In my opinion, taking graduate courses is one of the highest-impact
    academic things you can do at Purdue. The CS department releases a list of
    <a href="https://www.cs.purdue.edu/academic-programs/courses/index.html">current</a> and
    <a href="https://www.cs.purdue.edu/academic-programs/courses/upcoming_semesters.html">upcoming courses</a>
    every semester. Scroll to the very bottom to find graduate courses (they start with the 5XX code).
  </p>
  <p>
    Graduate courses often cover content in greater depth, breadth or speed. You are less likely to be bored in
    class (though it's still possible). They often feature homework that is more interesting, professors that are
    more engaged and students that are happier. <em>Note that certain grad courses are reskinned undergrad courses
    -- not all that glimmers is gold. Exercise wisdom.</em>
  </p>
  <blockquote>
    <p>Through my time at Purdue, I ended up taking three classes taught by the same professor. A 5XX class with him was a lot more fun than the 2XX class: less people, more tangents, and interesting assigments.</p>
  </blockquote>
  <p>These classes also increase your chances at interacting with professors professionally and getting to know them and their research.</p>
  <p>
    <a href="https://www.cs.purdue.edu/graduate/variable-courses.html"><strong>Variable-title graduate courses</strong></a>
    are graduate courses that are experimental and often being taught for the first or second time. They may or
    may not later be formalized into normal courses. 592 courses are very project-heavy and may not even have
    exams, while 593 courses are more structured. Take the above advice about graduate courses and amplify it for
    these courses. The risk of the course turning out badly for you is much higher but it can still be quite
    rewarding if you end up taking the right course.
  </p>
  <p>
    These courses tend to be heavy in reading and discussing research papers. You receive insight on seminal papers
    that would be extraordinarily difficult for an ordinary undergrad to derive on their own.
  </p>
  <p>In summary, taking highly-specific courses can greatly increase the reward you receive from college and nurture specialist interests to differentiate you from other people.</p>

  <h3 id="the-case-against-easy-courses">The Case Against Easy Courses</h3>
  <p>
    College courses are structured learning environments taught by an expert in the field.
    <em>They are very good for learning stuff you can't learn on your own.</em> You can take a finite amount of
    courses during your time at university.
  </p>
  <p>
    Therefore, <strong>consider replacing easy and info-dump-like electives with books, blogs, talks and LLMs.</strong>
    Ask people about whether they think they could've replaced the course with a textbook and make informed
    decisions.
  </p>
  <p><em>Hard</em> courses are no mere infodumps. Their assignments will bend your mind to think in new ways; lectures will leave you reeling or laughing; projects and assignments will frustrate and puzzle. These are valuable experiences.</p>

  <h2 id="asking-professors-for-research-opportunities">Asking Professors for Research Opportunities</h2>

  <h4 id="if-youre-very-serious-about-high-level-pure-cs-research">If you're very serious about high-level pure CS research</h4>
  <p>If you've taken or are taking a graduate course, you can go up to the professor and ask them. Quite often, <em>professors teaching variable-title graduate courses are actively looking for students</em>.</p>
  <p>Alternatively, email! Persistently! Make a strong case for your current work and interests and how what areas you might be interested in working in. Professors are far more willing to tailor work to your interests than one might first assume.</p>
  <p>Note that professors often expect students to be competent to the proficiency of a student who has taken CS 251 or 252. If you haven't, I recommend supplying alternate qualifications.</p>
  <p>There's also a <a href="https://www.cs.purdue.edu/corporate/employment/cs%20research.html">webpage on the Purdue CS website about undergraduate research opportunities</a>, but it doesn't seem to have been updated in some time.</p>

  <h4 id="if-your-interests-lie-elsewhere">If your interests lie elsewhere</h4>
  <p>The CS opportunity mailing list frequently sends out calls for research opportunities from professors. The Honors College has its own newsletter filled with interdisciplinary opportunities. Course-based alternatives like <a href="https://engineering.purdue.edu/VIP">VIP</a> exist.</p>
  <p>Many undergraduates also find research opportunities under professors in different fields like Biomedical or Mechanical Engineering or Biology.</p>

  <h4 id="a-note-on-professors-of-practice">A note on Professors of Practice</h4>
  <p>
    There are two types of professors in Purdue CS:
    <a href="https://www.purdue.edu/academics/faculty-affairs/resources/clinical.html">Professors of Practice</a>
    and "just" Professors. Professors of Practice include Professors Andres Bejarano, Gustavo Rodriguez-Rivera,
    and Jeffrey Turkstra. <strong>Their main focus is academic instruction. Some of their research focuses on
    pedagogy</strong> — talk to them if you're interested in that niche.
  </p>

  <hr />

  <p>I would strongly emphasize <em>persistence as key to working on meaningful research</em>. The biggest reason undergraduates fail to do anything meaningful with their work is because they stop coming to research meetings, following up with professors, etc.</p>
  <p>The next section has some more advice on meeting professors as well.</p>

  <h2 id="talking-to-exciting-people">Talking to Exciting People</h2>
  <p>A large part of your university experience will be defined by the people you spent it with. Find awesome people to spend it with — everyone grows as a result. Being an undergraduate is likely the last time in your life when meeting people will be so easy and inevitable — full-time work of any sort bites into socialization diversity quite significantly.</p>

  <h3 id="classes">Classes</h3>
  <p>Are a great way to meet people. If you're active and helpful on Piazza or EdStem, a surprisingly large part of the class will automatically respect you and marvel at meeting you in person. Attending lecture can help you find fast friends with whom you can hack on homework with. As you take increasingly specific classes, you will find yourself talking to people who've interned at places you want to work.</p>

  <h3 id="cs-departmental-seminars-colloquiums-scholarly-talks-and-reading-groups">CS Departmental Seminars, Colloquiums, Scholarly Talks and Reading Groups</h3>
  <p>This is surprisingly unknown among undergraduates, considering these events often have free catered food. The CS department has weekly seminars like <a href="https://purduepl.github.io/">PurPL</a>, <a href="https://theorypurdue.wordpress.com/">Theory Seminar</a>, and <a href="https://www.cerias.purdue.edu/">CERIAS</a>. These seminars are invaluable for gaining an awareness of research trends and active questions in the community, along with meeting and interacting with professors.</p>
  <p>There are also <a href="https://www.cs.purdue.edu/colloquium/index.html">colloquiums and scholarly talks</a> often delivered by decorated faculty flying in from other universities.</p>
  <p>The CS Graduate Student Board has <a href="https://cs.purdue.edu/gsa/readinggroups.html">a non-comprehensive list of reading groups</a> usually targeted around a specific area of CS (note however that some of the reading group links are old).</p>

  <h3 id="clubs-and-extracurricular-activities">Clubs and Extracurricular Activities</h3>
  <p>You will likely spend the most structured time (second to lectures and labs) participated in extracurriculars or club activities. There are many awesome CS clubs on campus, and some not-so-awesome ones.</p>
  <p>I recommend that you <strong>make it a point to attend callouts or initial meetings for as many clubs as possible</strong>.</p>

  <hr />

  <p><em>The following section is entirely anecdotal and thus not as valuable. Feel free to skip.</em></p>
  <p>My experiences at Purdue Hackers have defined my experience at Purdue. Every week, the single-most thing I look forward to is Hack Night. I've grown and done impressive things purely influenced by the culture of technical excellence present at this club. There are many unbelievably competent and passionate people in the Purdue Hackers community and a lot of them are now my friends.</p>
  <p>I have also had the pleasure of interacting with people from b01lers, Competitive Programmers Union, Purdue Space Program, and ML@Purdue, all of which are also on-par with the excellence at Purdue Hackers.</p>
  <p>Not all CS clubs enforce this standard of excellence though — if you're feeling unsatisfied with the clubs you've been part of so far, I highly recommend giving one of the above a try. Not to say that there aren't more awesome clubs out there; these are just ones I know of. <em>If you think your club is awesome, please let me know and I'll add it here.</em></p>
  <p>A somewhat gimmicky way to express the potential impact that being part of a club can have: a presentation on <a href="https://github.com/kartva/keymashed">a project I made for fun at Purdue Hackers</a> eventually resulted in an <s>on-site interview</s> internship offer at Neuralink.</p>

  <h2 id="major-metastrategy">Major Metastrategy</h2>

  <h3 id="graduation-timelines">Graduation Timelines</h3>
  <p><strong>Graduating off-semester:</strong> Industry steps-up their recruiting during traditional graduation times, i.e. May/June. Nearly all students accepted for grad school are accepted for the fall. Keep this in mind when planning to graduate off-semester, i.e. December or August.</p>
  <p><strong>Graduating early:</strong> When I told a professor I planned on finishing my degree in 2.5 years, <strong>he recommended I instead stay for longer to build an even stronger application for grad school</strong> (and he isn't wrong!). Graduating early can save you (a lot of) money and get you to wherever you want to go faster, but you do sacrifice technical and social maturity. <em>Think about this decision carefully.</em></p>

  <h3 id="summer-classes">Summer Classes</h3>
  <p>Are an awesome way to use summer break if you don't have internships or research lined up. <strong>You can skip boring or tedious gen-ed classes</strong> by taking them at either Purdue or another college. <strong>Community college classes are often less tedious, more convenient and cheaper</strong> than Purdue. Ask your advisor about what credits transfer.</p>
  <p>Bonus: you can supplement your incoming college credit with summer classes to push over the threshold of graduating another semester early.</p>

  <h3 id="dual-majoring-minoring-or-specializing">Dual Majoring, Minoring, or Specializing</h3>
  <blockquote>
    <p><strong>Subsection written by Jacob, former undergrad and now PhD student in Purdue CS.</strong></p>
  </blockquote>
  <p>In some cases, it might be worth pursuing multiple tracks/concentrations, a minor, or even a double major; Purdue CS degree requirements are flexible enough (especially with <a href="#test-outs-and-credits">transfer credits</a>) that an extra track or even degree is quite feasible.</p>
  <p>However, there are many misconceptions about </em><em>when and why</em> these degree enhancements might be valuable. Despite what you may have heard early into undergrad, almost all CS alumni will tell you that:</p>
  <ul>
    <li>Employers don't usually care much about you having multiple tracks or majors (see below).</li>
    <li>You might not be working in the same field as your chosen major(s) 20, 10, or even 5 years from now.</li>
    <li>Almost immediately after you find an entry-level job, most employers will care <em>far</em> more about your work experience than which degree(s) you gained or which classes you took.</li>
  </ul>
  <p>So, <em>why</em> do I still think that an additional degree/track is worth considering?</p>
  <ul>
    <li>Taking classes from another track, department, or college can <strong>greatly broaden your perspective</strong> when applying CS concepts to interdisciplinary topics or vice versa.</li>
    <li>Declaring a separate major or minor often makes it <em>much</em> easier to get into interesting courses in that department; mandatory courses for certain majors often prevent non-majors from registering before open registration (<a href="#taking-exciting-courses">emailing can help bypass this</a>).</li>
    <li>If you pivot to a different field after you graduate from CS &mdash; either into graduate school or industry &mdash; the organization may expect you to have majored in a related field before even considering you, since there might not be enough time to take remedial classes or training. This is extremely job dependent and there are many exceptions, but it has the potential to make life easier. Some examples: lab/project management, patent law.</li>
    <li>Courses are a great way to explore new things for the first time, and pursuing a degree/track can be an external push to do this more. Just like anything you learn and engage with, you should seek things which bring you joy; doing it just because you want to is perfectly fine!</li>
  </ul>
  <p>Also note that, to employers, your degree isn't exactly a signal that you've become specialized in Computer Science or in 1+ of its <a href="https://www.cs.purdue.edu/undergraduate/curriculum/bachelor.html">many sub-fields/tracks</a>. In fact, many companies and graduate programs quietly expect that you will spend the first year or so learning the necessary skills on-the-job before you can even start <em>considering</em> specializing. Instead, undergraduate degrees are about preparing a baseline for students to have the skills to self-learn the rest for themselves.</p>
  <p>As a result, <strong>undergraduate requirements are focused on teaching transferrable skills applicable to many different fields and career paths</strong>. This is much of the value that employers look for in undergraduate degree-holders: do you know how to learn new things quickly, and can you communicate with others both inside and outside of your field?</p>
  <p>The consensus of most undergraduate students and alumni is that having multiple tracks, a minor, or even a double major <em>does not matter much by itself</em>. What matters are the experiences you have gained from it, and how you communicate this to others in a way that excites them (a "story" of sorts). If the extra tracks, minors, or majors help you do that, then great! But you still need to put in the work to tell your "story" about your academic journey, and having multiple degrees is only one of <em>many</em> ways to do that. Without that "story", a double major, minor or track is simply an extra line on your resume.</p>

  <h2 id="appendix-a---course-reviews">Appendix A - Course Reviews</h2>
  <p>Maybe I'll fill in this section when I graduate and don't fear retribution (this is a joke for any professors reading this!).</p>

  <h2 id="appendix-b---the-llm-questionapplication">Appendix B - The LLM Question/Application</h2>
  <p>With LLMs and "intelligence on tap" getting better and better every passing <em>month</em>, your advantage to a bunch of NVIDIA GPUs in a datacenter shrinks. Less cynically, modern chatbots are extraordinarily good at patiently answering your questions with decent accuracy — learning is easier than ever before.</p>
  <p>You <em>should</em> use LLMs in your learning journey. Don't forget to have an original thought once in a while!</p>

  <h2 id="appendix-c---do-you-need-an-academic-focus">Appendix C - Do you need an academic focus?</h2>
  <p>There are many people who end up working at innovative startups while not caring for their GPAs at all. You could be one of them! There are many other paths to "success" while at university; this guide merely aims to help you along one of them.</p>
  <p>Do impressive things. Be awesome. Spread the word. Good things follow!</p>

  <h2 id="appendix-d---my-degree-plan">Appendix D - My Degree Plan</h2>
  <p>I'm including this section to give you an idea of what a degree plan <em>can</em> look like. Note that <strong>while my path was accelerated, yours doesn't have to be!</strong> Skip ahead to the next section if this isn't interesting.</p>
  <p>Additionally, I had <strong>a lot of previous programming experience</strong> (some semi-professional), which meant that I was mostly familiar with <em>all</em> the CS core curriculum (180, 240, 250, 251, 252). I did not learn very much in those classes and thus found them easier than many others.</p>

  <h3 id="transfer-credits-27-credit-hours">Transfer Credits (27 credit hours)</h3>
  <table>
    <thead>
      <tr>
        <th>Course</th>
        <th>Credits</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>CHM 11500</td><td>4.00</td><td>General Chemistry</td></tr>
      <tr><td>CHM 11600</td><td>4.00</td><td>General Chemistry</td></tr>
      <tr><td>CS 17700</td><td>4.00</td><td>Programming with Multimedia Objects</td></tr>
      <tr><td>MA 16500</td><td>4.00</td><td>Analytic Geometry &amp; Calculus I</td></tr>
      <tr><td>MA 16600</td><td>4.00</td><td>Analytic Geometry &amp; Calculus II</td></tr>
      <tr><td>PHYS 1XXXX</td><td>3.00</td><td>Physics C (Mechanics)</td></tr>
      <tr><td>PHYS 27200</td><td>4.00</td><td>E&amp;M Interactions</td></tr>
    </tbody>
  </table>
  <p>I self-studied for the AP exams and signed up to give them in Delhi, India. The AP syllabuses are extraordinarily detailed; self-prep is completely feasible through Khan Academy.</p>
  <p>I obtained the above credits by giving both AP Physics C exams, Calc BC, Chemistry and Computer Science A. I got a 4 in AP Physics C Mechanics and thus didn't receive credit for PHYS 172 and instead just PHYS 1XXXX. The department doesn't give CS 180 credit even for a 5 in AP CSA.</p>

  <h3 id="semester-1-fall-2023-18-credit-hours">Semester 1: Fall 2023 (18 credit hours)</h3>
  <table>
    <thead>
      <tr><th>Course</th><th>Credits</th><th>Grade</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CS 18200</td><td>3.00</td><td>A+</td><td>Foundations of Computer Science</td></tr>
      <tr><td>CS 19300</td><td>1.00</td><td>W</td><td>Tools (Withdrew)</td></tr>
      <tr><td>CS 24000</td><td>3.00</td><td>A+</td><td>Programming in C</td></tr>
      <tr><td>CS 59000</td><td>3.00</td><td>P</td><td>Weak Memory Atomics in C++11 (Independent Study)</td></tr>
      <tr><td>HONR 19901</td><td>1.00</td><td>A</td><td>Honors First Year Experience I</td></tr>
      <tr><td>HONR 19903</td><td>3.00</td><td>A+</td><td>Interdisciplinary Approach to Writing</td></tr>
      <tr><td>MA 27101</td><td>5.00</td><td>A</td><td>Honors Multivariate Calculus</td></tr>
    </tbody>
  </table>
  <p>I started the semester enrolled in Tools. Then, I attempted to honors-contract CS 240 but missed the deadline. The CS 59000 independent study was a substitute for the honors contract. In order to fit the 3-credit independent study into my schedule, I dropped Tools (Tools is <em>not</em> a required course despite what it may seem like).</p>

  <h3 id="semester-2-spring-2024-19-credit-hours">Semester 2: Spring 2024 (19 credit hours)</h3>
  <table>
    <thead>
      <tr><th>Course</th><th>Credits</th><th>Grade</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CS 25000</td><td>4.00</td><td>A+</td><td>Computer Architecture (Honors-Contracted)</td></tr>
      <tr><td>CS 25100</td><td>3.00</td><td>A+</td><td>Data Structures and Algorithms</td></tr>
      <tr><td>CS 31100</td><td>2.00</td><td>A</td><td>Competitive Programming II</td></tr>
      <tr><td>CS 49000</td><td>3.00</td><td>P</td><td>Programming Languages Research</td></tr>
      <tr><td>HONR 19902</td><td>1.00</td><td>A</td><td>Honors First Year Experience II</td></tr>
      <tr><td>MA 35100</td><td>3.00</td><td>A</td><td>Elementary Linear Algebra</td></tr>
      <tr><td>PHIL 22100</td><td>3.00</td><td>A+</td><td>Introduction to Philosophy of Science</td></tr>
    </tbody>
  </table>
  <p>The research course didn't end up going anywhere as both me and my supervisor became busy during the latter half of the semester. My schedule this semester was non-ideal (Competitive Programming II on its own does not fulfil CS electives) - this was because I originally signed up to CODO into ECE but changed my mind during the first week.</p>

  <h3 id="summer-2024">Summer 2024</h3>
  <table>
    <thead>
      <tr><th>Activity</th><th>Type</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CS 28401: Google Summer of Code</td><td>Internship</td><td>Contributor for icu4x, mentored by Google engineers</td></tr>
      <tr><td>ENGR 39602: Summer Undergraduate Research Fellow</td><td>Research</td><td>Worked on Mergeable Replicated Datatypes using Irmin and OCaml</td></tr>
    </tbody>
  </table>
  <p>I worked full-time on research in the <a href="https://engineering.purdue.edu/Engr/Research/EURO/students/about-SURF">SURF program</a>. Note that I didn't have to apply - I asked my advisor to nominate me through SURF.</p>
  <p>I simultaneously worked part-time as a Google Summer of Code intern, contributing to the icu4x project.</p>
  <p>Amazingly, as an international student, this was legal because apparently the 40-hour week limit applies <em>separately</em> to on-campus (non-CPT) and off-campus (CPT) work.</p>

  <h3 id="semester-3-fall-2024-21-credit-hours">Semester 3: Fall 2024 (21 credit hours)</h3>
  <table>
    <thead>
      <tr><th>Course</th><th>Credits</th><th>Grade</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CLCS 23900</td><td>3.00</td><td>A</td><td>The Comic Vision</td></tr>
      <tr><td>CS 25200</td><td>4.00</td><td>A</td><td>Systems Programming</td></tr>
      <tr><td>CS 38100</td><td>3.00</td><td>A+</td><td>Introduction to Analysis of Algorithms</td></tr>
      <tr><td>CS 39700</td><td>0.00</td><td>S</td><td>Honors Seminar</td></tr>
      <tr><td>CS 45600</td><td>3.00</td><td>A+</td><td>Programming Languages</td></tr>
      <tr><td>CS 49000</td><td>3.00</td><td>A</td><td>Embedded Systems (with Prof. Douglas Comer)</td></tr>
      <tr><td>CS 59100</td><td>1.00</td><td>P</td><td>CERIAS Security Seminar</td></tr>
      <tr><td>GS 29501</td><td>1.00</td><td>A</td><td>Understanding Undergraduate Research Experience</td></tr>
      <tr><td>SOC 10000</td><td>3.00</td><td>A+</td><td>Introduction to Sociology</td></tr>
    </tbody>
  </table>
  <p><strong>I obtained permission to take CS 456 and 490 - I didn't satisfy their prerequisites</strong>. I was a CS 251 TA this semester along with being a research assistant. Having a job that paid more, was more interesting, and looked better on the resume (research assistant) made me question why I was investing time in the other one (teaching assistant).</p>

  <h3 id="semester-4-spring-2025-22-credit-hours">Semester 4: Spring 2025 (22 credit hours)</h3>
  <table>
    <thead>
      <tr><th>Course</th><th>Credits</th><th>Grades</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>AD 25500</td><td>3.00</td><td>A</td><td>Art Appreciation</td></tr>
      <tr><td>CS 35200</td><td>3.00</td><td>A+</td><td>Compilers Principles &amp; Practice</td></tr>
      <tr><td>CS 56500</td><td>3.00</td><td>A</td><td>Programming Languages (Graduate)</td></tr>
      <tr><td>CS 58500</td><td>3.00</td><td>A</td><td>TCS Toolkit (Graduate)</td></tr>
      <tr><td>CS 59200</td><td>3.00</td><td>B-</td><td>Hardware Security (Graduate)</td></tr>
      <tr><td>CS 59300</td><td>3.00</td><td>A</td><td>Software Engineering for Robotics (Graduate)</td></tr>
      <tr><td>GS 39501</td><td>1.00</td><td>A</td><td>Understanding Undergraduate Research Experience II</td></tr>
      <tr><td>STAT 51100</td><td>3.00</td><td>A</td><td>Statistical Methods (Graduate)</td></tr>
    </tbody>
  </table>
  <p>I had unexpectedly many interviews. I stopped doing research to compensate for time. The B- was unexpected because the professor graded <em>all</em> the homework exactly one day before grades were due (I am mildly bitter about this). <em>This</em> is how I lost my 4.0.</p>
  <p>I switched paths from going into academia to industry this semester.</p>
  <p>Advice I should've followed this semester: <strong>Decide what matters and prune the rest for success at what you care about.</strong></p>

  <h3 id="summer-2025">Summer 2025</h3>
  <table>
    <thead>
      <tr><th>Activity</th><th>Type</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CS 28401: <a href="https://modular.com/">Modular</a></td><td>Internship</td><td>Worked on programming language design in the Bay Area</td></tr>
    </tbody>
  </table>

  <h3 id="fall-2025">Fall 2025</h3>
  <table>
    <thead>
      <tr><th>Activity</th><th>Type</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>CS 39699: <a href="https://neuralink.com/">Neuralink</a></td><td>Internship</td><td>Worked on laboratory information management systems in the Bay Area</td></tr>
    </tbody>
  </table>

  <h3 id="semester-5-spring-2026-21-credit-hours">(Last) Semester 5: Spring 2026 (21 credit hours)</h3>
  <table>
    <thead>
      <tr><th>Course</th><th>Credits</th><th>Grades</th><th>Name</th></tr>
    </thead>
    <tbody>
      <tr><td>COM 21700</td><td>3.00</td><td>-</td><td>Science Writing &amp; Presentation</td></tr>
      <tr><td>CS 49700</td><td>3.00</td><td>-</td><td>Honors Research Projct</td></tr>
      <tr><td>CS 50300</td><td>3.00</td><td>-</td><td>Operating Systems (Graduate)</td></tr>
      <tr><td>CS 58500</td><td>3.00</td><td>-</td><td>TCS Toolkit (Graduate) (Auditing)</td></tr>
      <tr><td>CS 59300</td><td>3.00</td><td>-</td><td>Principles Comp Architecture (Graduate)</td></tr>
      <tr><td>EAPS 32700</td><td>3.00</td><td>-</td><td>Climate, Science &amp; Society</td></tr>
      <tr><td>MA 34900</td><td>3.00</td><td>-</td><td>Signals And Systems For Math</td></tr>
    </tbody>
  </table>
  <p>After eight months spent in industry, it's difficult to care as much about arbitrary grades or assignments. Doing cool and unique things
  seems more important than ever.</p>
  <p>I took MA 34900 to fulfil CS Honors requirements for a higher-level math course. Note that <em>I'm auditing CS 585 despite recieving an A in the course in Spring 2025</em>; I feel like there's a lot more for me to learn from that course.</p>
  <p><b>This is my last semester at Purdue.</b> Switching paths worked; I have a place in the industry after graduating.</p>

  <h2 id="appendix-e---bias-disclosure-and-invitation-to-contribute">Appendix E - Bias Disclosure and Invitation to Contribute</h2>
  <p>This guide is written from personal experience, and therefore biased towards first-hand experiences. Specifically, I came to Purdue with a strong interest in research and spent a decent amount of time here engaging with the research community at Purdue; as a result, it is featured stronger than perhaps others think it may deserve.</p>
  <p>I don't believe this guide is deficient as a result; to the contrary, I think it enhances the guide.</p>
  <p>In the light of the above statements, <strong>I invite readers to reach out and share their experiences and advice so that I may incorporate it into this document.</strong> The more concrete your suggestion, the better. You can comment below or <a href="mailto:kvashis@purdue.edu">email me</a>.</p>
  <p><strong>If this document was helpful, comment that.</strong> Your comments are valuable signals to future readers.</p>

  <h2 id="credits-and-contributor-acknowledgements">Credits and Contributor Acknowledgements</h2>
  <p><a href="https://github.com/kartva/">I</a> wrote most of this. In no particular order, thanks to:</p>
  <ul>
    <li>the adorable <a href="https://www.linkedin.com/in/arhan-chaudhary/">Arhan Chaudhary</a></li>
    <li><a href="https://www.linkedin.com/in/mikah-kainen/">Mikah Kainen</a></li>
    <li><a href="https://www.linkedin.com/in/shrung-patel/">Shrung Patel</a></li>
    <li><a href="https://ericswpark.com/">Eric Park</a></li>
    <li><a href="https://www.linkedin.com/in/jdwhite48/">Jacob White</a></li>
    <li><a href="https://www.linkedin.com/in/matthew-stanciu/">Matthew Stanciu</a></li>
    <li><a href="https://www.linkedin.com/in/isaac-fleetwood-baa06422b/">Isaac Fleetwood</a></li>
    <li><a href="https://www.linkedin.com/in/kiankasad/">Kian Kasad</a></li>
    <li><a href="https://www.linkedin.com/in/alexandre-sauquet/">Alexandre Sauquet</a></li>
    <li><a href="https://www.cs.purdue.edu/people/staff/kvdoty.html">Kristal V Doty (Academic Advisor)</a></li>
    <li><a href="https://www.cs.purdue.edu/people/faculty/mhborkow.html">Prof. Michael Borkowski</a></li>
    <li><a href="https://tiarkrompf.github.io/">Prof. Tiark Rompf</a></li>
  </ul>
  <p>For feedback, proof-reading, and content suggestions. All mistakes are naturally mine.</p>

  <h2 id="for-advisors-who-want-to-share-this-with-their-students">For advisors who want to share this with their students</h2>
  <p>Yes! As far as I know, advisors Kristal V. Doty and Marsha Rhees have asked me about sharing this with the incoming class of '29. If you're an advisor reading this I would strongly appreciate you <a href="mailto:kvashis@purdue.edu">sending an email</a> with your feedback or if you plan on sharing this with your students (so I can add your name here).</p>
</article>
