---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  ogImage?: string;
}

const {
  title = "Optimizing Purdue CS",
  description = "~6000 word guide on things one can do while in Purdue CS.",
  ogImage = "/images/purdue-bell-tower.jpg"
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(ogImage, Astro.site).toString()} />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Optimizing Purdue CS" />
    <title>{title}</title>
    <script defer src="https://umami.purduehackers.com/script.js" data-website-id="8cf80cde-84b5-4c93-a828-0a5d2e12e1bd"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
